/*loading gif*/
body {
    padding-top: 60px;
    background-image: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.angular-google-map-container { height: 400px; }

.spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    background: url('/images/loading.gif') center no-repeat #fff;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}